---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>
			I am a <a class="cactus-link">full-stack developer</a> with 2 years of experience, with a 
			<a class="cactus-link">MERN stack</a> focus. I hold a Bachelor's degree in Computer Science 
			and have a solid foundation in both front-end and back-end development. I am <a class="cactus-link">eligible to work</a> in Canada. 
			Currently based in Vancouver, BC, I am open to relocation, offering a collaborative mindset to every team I work with.
		</p>
		<p>
			In addition to my current experience, I am actively working on gaining proficiency in backend technologies. I am currently 
			learning <a class="cactus-link">Django</a> with Python to build robust web applications and enhance my full-stack capabilities.
		</p>
		<p>
			Additionally, I am exploring <a class="cactus-link">Java</a> for backend development, allowing me to expand my skill set and work 
			more effectively across various platforms and architectures. This ongoing learning enables me to take on more complex projects 
			and contribute to both frontend and backend development.
		</p>
		<p>
			I am continuously improving my prototyping skills, particularly with Figma, to enhance my design workflow. Before starting different 
			projects, I practice creating draft prototypes to refine user experiences and expectations.
		</p>
		<p>Here are my some facts about me:</p>
		<ul class="list-inside list-disc">
			<li>Java was my first programming language.</li>
			<li>I pacticapate weekly in Leetcode tournaments.</li>
			<li>I play chess and often played tournaments in the past.</li>
			<li>I like swimming.</li>
			<li>I have a dog. He is Japanese Shiba-Inu.</li>
		</ul>
		<p>
			
		</p>
	</div>
</PageLayout>
