---
import { Image } from "astro:assets";
import aboutImg from "@/assets/about-astro.png";
import PageLayout from "@/layouts/Base.astro";
import { Icon } from "astro-icon/components";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "Experience",
};
const exp1Icons: {
	friendlyName: string;
	isWebmention?: boolean;
	link: string;
	name: string;
	color: string;
}[] = [
	{
		friendlyName: "Github",
		name: "mdi:github",
		color: "hover:text-gray-700",
	},
	{
		friendlyName: "JavaScript",
		name: "mdi:language-javascript",
		color: "hover:text-yellow-500",
	},
	{
		friendlyName: "NodeJS",
		name: "mdi:nodejs",
		color: "hover:text-green-600",
	},
	{
		friendlyName: "React",
		name: "mdi:react",
		color: "hover:text-blue-400",
	},
	{
		friendlyName: "Git",
		name: "mdi:git",
		color: "hover:text-orange-600",
	},
	{
		friendlyName: "Jira",
		name: "mdi:jira",
		color: "hover:text-blue-600",
	},
];

const exp2Icons: {
	friendlyName: string;
	isWebmention?: boolean;
	link: string;
	name: string;
	color: string;
}[] = [
	{
		friendlyName: "CSS3",
		name: "mdi:language-css3",
		color: "hover:text-blue-300",
	},
	{
		friendlyName: "NodeJS",
		name: "mdi:nodejs",
		color: "hover:text-green-600",
	},
];

const exp3Icons: {
	friendlyName: string;
	isWebmention?: boolean;
	link: string;
	name: string;
	color: string;
}[] = [
	{
		friendlyName: "Apple",
		name: "mdi:apple-airplay",
		color: "hover:text-purple-400",
	},
	{
		friendlyName: "Apple",
		name: "mdi:apple-finder",
		color: "hover:text-blue-200",
	},
	{
		friendlyName: "Apple",
		name: "mdi:apple-ios",
		color: "hover:text-gray-600",
	},
];
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">Experience</h1>
		<h2 class="title text-lg"><a class="min-w-[120px] text-gray-600 dark:text-gray-400">2022-23</a> Web Developer - SKYTRAC</h2>
		<ul class="list-inside list-disc">
			<li>Developed responsive web applications using React.js.</li>
			<li>Built RESTful APIs with Node.js and Express, improving data flow.</li>
			<li>Worked on optimizing MongoDB as a backend database.</li>
			<li>Optimized front-end performance, reducing page load times.</li>
			<li>Enhanced data storage efficiency, resulting in better scalability.</li>
		</ul>
		<h2 class="title text-lg"><a class="min-w-[120px] text-gray-600 dark:text-gray-400">2020-21</a> Front End Developer - Magnetic Elements</h2>
		<ul class="list-inside list-disc">
			<li>Developed and maintained an online store.</li>
			<li>Took care of user frinedly interface and smooth experience.</li>
			<li>Improved the website’s overall structure and usability.</li>
			<li>Implemented dynamic features and responsive designs.</li>
			<li>Collaborated with team members to optimize the website's performance.</li>
		</ul>
		<h2 class="title text-lg"><a class="min-w-[120px] text-gray-600 dark:text-gray-400">2019-20</a> IT Technician - Apple</h2>
		<ul class="list-inside list-disc">
			<li>Provided technical support, achieving a 95% customer satisfaction rate.</li>
			<li>Optimized internal IT processes, reducing average resolution time.</li>
			<li>Due to great performance, got promoted to T2 qualification.</li>
		</ul>
	</div>
</PageLayout>
