---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "Experience",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">Experience</h1>
		<h2 class="title text-lg"><a class="min-w-[120px] text-gray-600 dark:text-gray-400">2023-24</a> Full Stack Developer - SKYTRAC</h2>
		<ul class="list-inside list-disc">
			<li>Oversaw both front-end and back-end development for a file management system displaying product graphics.</li>
			<li>Built and optimized Node.js services, leveraging caching strategies to reduce server response times by 10%.</li>
			<li>Conducted detailed code reviews and introduced Agile best practices, improving code maintainability.</li>
			<li>Ensured continuous delivery of high-quality features by integrating automated testing workflows with Jest.</li>
			<li>Researched and evaluated frameworks (e.g. Next.js), proposing modern solutions for improvements across the stack.</li>
		</ul>
		<h2 class="title text-lg"><a class="min-w-[120px] text-gray-600 dark:text-gray-400">2023-24</a> Web Developer - SKYTRAC</h2>
		<ul class="list-inside list-disc">
			<li>Developed cross-platform, responsive interfaces using React showcasing core products, company news, etc.</li>
			<li>Improved page load times by implementing code-splitting, lazy loading, resulting in a smoother user experience.</li>
			<li>Maintained a strong feedback loop with designers and stakeholders, iterating rapidly on UI/UX improvements.</li>
			<li>Collaborated with backend teams to integrate APIs efficiently, maintaining consistent data flow across pages.</li>
		</ul>
		<h2 class="title text-lg"><a class="min-w-[120px] text-gray-600 dark:text-gray-400">2021-22</a> Front End Developer - Magnetic Elements</h2>
		<ul class="list-inside list-disc">
			<li>Engineered cross-platform front-end solutions with ReactJS, focusing on performance, scalability, maintainability.</li>
			<li>Refined and tested UI components for accessibility, ensuring cross-browser compatibility and WCAG compliance.</li>
			<li>Created user-centric, responsive interfaces compatible with mobile and desktop devices, boosting engagement.</li>
			<li>Collaborated closely with back-end developers to streamline API integrations and optimize data handling.</li>
			<li>Reduced page load latency by 40% through code-splitting, lazy loading, and asset compression strategies.</li>
		</ul>
		<h2 class="title text-lg"><a class="min-w-[120px] text-gray-600 dark:text-gray-400">2020-21</a> IT Technician - Apple</h2>
		<ul class="list-inside list-disc">
			<li>Troubleshot complex software and hardware issues: billing, subscriptions, warranty claims, device replacements.</li>
			<li>Coordinated with cross-functional teams to expedite resolution of complex cases, reducing escalations by 15%.</li>
			<li>Maintained high customer satisfaction by passing monthly quality checks and monitoring evaluations.</li>
		</ul>
		<h2 class="title text-lg"><a class="min-w-[120px] text-gray-600 dark:text-gray-400">2020-20</a> Technical Support T1 - Apple</h2>
		<ul class="list-inside list-disc">
			<li>Provided front-line technical support with a 95% customer satisfaction rate, efficiently addressing software issues.</li>
			<li>Successfully passed a rigorous skills test, leading to a promotion to the IT Technician team.</li>
		</ul>
	</div>
</PageLayout>
