---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "Experience",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">Experience</h1>
		<h2 class="title text-lg"><a class="min-w-[120px] text-gray-600 dark:text-gray-400">2023-24</a> Web Developer - SKYTRAC</h2>
		<ul class="list-inside list-disc">
			<li>Developed RESTful APIs and microservices architecture, improving data flow</li>
			<li>Designed scalable pipelines, ensuring efficient processing of datasets</li>
			<li>Enhanced application scalability by implementing Redux for state management</li>
			<li>Improved MongoDB query performance by 10%, improving the backend response time</li>
			<li>Implemented testing frameworks, reducing deployment time by 15%</li>
			<li>Monitored application performance, employing Docker and cloud monitoring tools</li>
			<li>Optimized front-end performance with asset changes, lazy loading and chaching</li>
			<li>Ensured code maintanability by following best practices and code reviews</li>
		</ul>
		<h2 class="title text-lg"><a class="min-w-[120px] text-gray-600 dark:text-gray-400">2021-22</a> Front End Developer - Magnetic Elements</h2>
		<ul class="list-inside list-disc">
			<li>Built responsive web interfaces using React, HTML/CSS, JavaScript</li>
			<li>Optimized the front-end experience for desktop and mobile users</li>
			<li>Integrated third-party APIs to enable real-time updates</li>
			<li>Optimized the e-commerce platform's load time by 40%</li>
			<li>Collaborated with backend developers to ensure smooth integration of APIs</li>
		</ul>
		<h2 class="title text-lg"><a class="min-w-[120px] text-gray-600 dark:text-gray-400">2020-21</a> IT Technician - Apple</h2>
		<ul class="list-inside list-disc">
			<li>Provided technical support, achieving a 95% customer satisfaction rate</li>
			<li>Streamlined internal IT processes, reducing the average resolution time by 20%</li>
			<li>Due to great performance, got promoted to T2 qualification</li>
		</ul>
	</div>
</PageLayout>
