---
import { Icon } from "astro-icon/components";

/** 
	Uses https://www.astroicon.dev/getting-started/
	Find icons via guide: https://www.astroicon.dev/guides/customization/#open-source-icon-sets
	Only installed pack is: @iconify-json/mdi
*/
const socialLinks: {
	friendlyName: string;
	isWebmention?: boolean;
	name: string;
	color: string;
}[] = [
	{
		friendlyName: "TypeScript",
		name: "mdi:language-typescript",
		color: "hover:text-blue-600",
	},
    {
		friendlyName: "JavaScript",
		name: "mdi:language-javascript",
		color: "hover:text-yellow-500",
	},
	{
		friendlyName: "Java",
		name: "mdi:language-java",
		color: "hover:text-red-600",
	},
	{
		friendlyName: "Python",
		name: "mdi:language-python",
		color: "hover:text-blue-500",
	},
    {
		friendlyName: "Tailwind",
		name: "mdi:tailwind",
		color: "hover:text-blue-500",
	},
    {
		friendlyName: "Material UI",
		name: "mdi:material-ui",
		color: "hover:text-blue-800",
	},
	{
		friendlyName: "API",
		name: "mdi:api",
		color: "hover:text-gray-600",
	},
	{
		friendlyName: "NodeJS",
		name: "mdi:nodejs",
		color: "hover:text-green-600",
	},
    {
		friendlyName: "React",
		name: "mdi:react",
		color: "hover:text-blue-400",
	},
	{
		friendlyName: "VueJS",
		name: "mdi:vuejs",
		color: "hover:text-green-500",
	},
	{
		friendlyName: ".NET",
		name: "mdi:dot-net",
		color: "hover:text-purple-600",
	},
    {
		friendlyName: "Jira",
		name: "mdi:jira",
		color: "hover:text-blue-600",
	},
    {
		friendlyName: "Git",
		name: "mdi:git",
		color: "hover:text-orange-600",
	},
    {
		friendlyName: "Databases",
		name: "mdi:database",
		color: "hover:text-gray-600",
	},
	{
		friendlyName: "Firebase",
		name: "mdi:firebase",
		color: "hover:text-orange-400",
	},
    {
		friendlyName: "GraphQL",
		name: "mdi:graphql",
		color: "hover:text-pink-600",
	},
];

---

<style lang="css">
.rotate-in-diag-2 {
	-webkit-animation: rotate-in-diag-2 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: rotate-in-diag-2 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes rotate-in-diag-2 {
  0% {
    -webkit-transform: rotate3d(-1, 1, 0, -360deg);
    transform: rotate3d(-1, 1, 0, -360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate3d(-1, 1, 0, 0deg);
    transform: rotate3d(-1, 1, 0, 0deg);
    opacity: 1;
  }
}

@keyframes rotate-in-diag-2 {
  0% {
    -webkit-transform: rotate3d(-1, 1, 0, -360deg);
    transform: rotate3d(-1, 1, 0, -360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate3d(-1, 1, 0, 0deg);
    transform: rotate3d(-1, 1, 0, 0deg);
    opacity: 1;
  }
}
</style>

<div class="flex flex-wrap items-end gap-x-2">
	<ul class="flex flex-1 items-center gap-x-2 sm:flex-initial">
		{
			socialLinks.map(({ friendlyName, isWebmention, name, color }, index) => (
				<li 
					class={`flex ${friendlyName === "Java" || 
									friendlyName === ".NET" || 
										friendlyName === "GraphQL" || 
											friendlyName === "Material UI" || 
												friendlyName === "Jira" ? 'hidden sm:flex' : ''}`}
				>
					<a
						class={`inline-block sm:hover: ${color} rotate-in-diag-2`}
						style={`animation-delay: ${index * 0.1}s;`}
						rel={`noreferrer ${isWebmention ? "me authn" : ""}`}
					>
						<Icon aria-hidden="true" class="h-8 w-8" focusable="false" name={name} />
						<span class="sr-only">{friendlyName}</span>
					</a>
				</li>
			))
		}
	</ul>
</div>
